.container {
  transform: scale(1);
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--chat-bg-primary);
  color: var(--chat-text-primary);
  transition: all var(--chat-transition-normal);
}

.minimized {
  border-radius: 0.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.expanded {
  border-radius: 0;
  box-shadow: none;
}
